<h1>The Mountains Are Calling!</h1>

<h2>Fourteeners That Want You to Summit Them</h2>

{{!-- <ul>
  {{#each fourteeners}}
    {{#unless climbed}}
      {{> fourteeners/fourteener-block climbed=true}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Summited Fourteeners</h2>

<ul>
  {{#each fourteeners}}
    {{#if climbed}}
      {{> fourteeners/fourteener-block climbed=false}}
    {{/if}}
  {{/each}}
</ul> --}}

<h2>Add a 14er</h2>
<form class="create-form">

  <div class="form-group">
    <label for="14er">14er Name:</label>
    <input type="text" id="14er" name="name">
  </div>

  <div class="form-group">
    <label for="climbed">Climbed?</label><br>
    <input type="radio" name="climbed" value="1" checked> Summited!<br>
    <input type="radio" name="climbed" value="0"> Waiting to be summited.
  </div>

  <button type="submit">Add 14er</button>
</form>
